<section class='help-view' data-ng-controller="QuizCtrl">
    <div>
        <p>The score obtained at the end of the Quiz is the sum of weights of the questions answered correctly.</p>
        <p>There are {{quiz.questionnaire.length}} questions</p>
        <p>All the questions do not have the same weight.</p>
        <p>Each question has time limit of {{quiz.duration}} seconds </p>
        <p>If you do not answer the question in the time limit the question is passed</p>
        <button data-ng-click="back()">{{locale['back']}}</button>
    </div>
</section>
