<section class="quiz-view" data-ng-controller="QuizCtrl">
    <header class='header'>
        <span class='question-number'>{{locale['question']}} {{currentPosition+1}}/{{quiz.questionnaire.length}}</span>
        <timer duration='{{quiz.duration}}' autostart='true'></timer>
        <span class='weight'>{{locale['weight']}} {{currentQuestion.weightage}}</span>
    </header>
    <section class='content'>
        <div class='question'>{{currentQuestion.statement}}</div>
        <div class='options-container'>
            <label class='option' data-ng-repeat="option in currentQuestion.options">
                <span class='inner'>
                    <input type="radio" value="{{option}}" data-ng-model="$parent.currentResponse"><div class='tick'>&nbsp;</div><span>{{option}}</span>
                </span>
            </label>

            <!-- for image -->
            <img class='picture' data-ng-show="currentQuestion.imgPath.length>0" src="{{currentQuestion.imgPath}}">
            <span data-ng-show="currentQuestion.isFillIn()">
                <input type="text" data-ng-model="currentResponse">
            </span>
        </div>
    </section>
    <footer class='footer'>
        <a class='quit' data-ng-click="quit()"><span>&lt;</span> {{locale['quit']}}</a>
        <button data-ng-disabled="!isAnswered()" data-ng-click="submitAns(currentQuestion.id)">{{locale['next']}}</button>
        <a class='pass' data-ng-click="next()">{{locale['pass']}}<span>&gt;</span></a>
    </footer>
</section>
