<section class="result-view" data-ng-controller="ResultCtrl">
    <div class='logo'>
    </div>
    <span>{{locale['results']}}</span>
    <div>
        <span>
            <i>{{locale['congrats']}}<br/>
            {{locale['score-msg']}}<br/>{{score}}</i>
        </span>
    </div>
    <div>
        <span>{{user.correct}}</span>
        <span>/{{quizSize}}</span>
    </div>
    <div class='button-bar'>
        <button data-ng-click="playAgain()">{{locale['play-again']}}</button>
        <button data-ng-click="newGame()">{{locale['new-game']}}</button>
    </div>
</section>