<section class="result-view" data-ng-controller="ResultCtrl">
    <div class='logo'></div>
    <div class='result-container'>
        <header>{{locale['results']}}</header>
        <div class='result-content'>
                {{locale['congrats']}}
                <div class='score-container'>{{locale['score-msg']}}<br>{{score}}</div>
        </div>
    </div>
    <div class='score-content'>
        <span>{{user.correct}}</span>/{{quizSize}}
    </div>
    <div class='button-bar'>
        <button data-ng-click="playAgain()">{{locale['play-again']}}</button>
        <button data-ng-click="newGame()">{{locale['new-game']}}</button>
    </div>
</section>
