<time class='timer {{getTimerStatus();}}'>
    <span class='static hand'></span>
    <span class='moving hand' style="-webkit-transform: rotate({{currentHandAngle}}deg); -moz-transform: rotate({{currentHandAngle}}deg)"></span>
    <div class='shadow'></div>
    <div class='inner'>
        <div class='right holder'>
            <div class='pie' style="-webkit-transform: rotate({{currentRightAngle}}deg); -moz-transform: rotate({{currentRightAngle}}deg)"></div>
        </div>
        <div class='left holder'>
            <div class='pie' style="-webkit-transform: rotate({{currentLeftAngle}}deg); -moz-transform: rotate({{currentLeftAngle}}deg)"></div>
        </div>
    </div>
    <div class='counter'>{{getReadableCurrentTime();}}</div>
</time>
